.container{
    width:500px;
    margin: 50px auto;
    text-align: center;
}

.cm{
   width:100%;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;

}

.cm:focus{
    outline: none;
    border: 1px solid royalblue;
}

.btn{
    background-color: black;
    color: #fff;
    padding: 14px 30px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 10px;
}