.box{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 50px auto;
}

.bar{
    width:400px;
    height: 50px;
    background-color: black;
    margin: 50px auto;
}

/* @media screen and (min-width:600px) {
    .box{
        width: 100px;
        height: 100px;
        background-color: blue;
        margin: 50px auto;
    }
} */

@media screen and (min-width:700px) {
    .bar{
        width:400px;
        height: 50px;
        background-color: red;
        margin: 50px auto;
    }
}

@media screen and (max-width:700px) {
    .bar{
        width:400px;
        height: 50px;
        background-color: yellow;
        margin: 50px auto;
    }
}

@media screen and (max-width:400px){
    .bar{
        width:400px;
        height: 50px;
        background-color: green;
        margin: 50px auto;
    }
}