@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

body{
    margin: 0;
    font-family:'Poppins', sans-serif;
}

.btn{
    padding: 16px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
.clk{
    display: flex;
    justify-content: center;
    margin: 300px auto;
}
.btns{
    padding: 16px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}



.card{
    width: 500px;
    height: 240px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 14px;
    position: absolute;
    top: 0;
    left: 33%;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
}

p{
    font-size: 16px;
}

.close{
    background: transparent;
    border: none;
    color: black;
    padding: 0;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.desc{
    border-bottom:1px solid lightgray ;
    padding: 20px 0;
}

.buttons{
    display: flex;
    gap: 15px;
    position: absolute;
    right: 8px;

}

.d-none{
    display: none;
}